{% extends 'home.html' %}

{% block content %}

{% if messages %}
<div class="alert alert-primary" role="alert" >
  {% for message in messages %}
     {{ message }}
    {% endfor %}
</div>
<br>
{% endif %} 

<br>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <br>
    <h1 class="display-7">Check All PW!</h1>
  </div>
</div>
<br>
{% if no_pws %}
<div class="jumbotron">
  <h1 class="display-4">No pws created yet</h1>
  <hr class="my-4">
  <p class="lead">{{ no_pws }}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'add-page' %}" role="button">Learn more</a>
  </p>
</div>
{% else %}
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">Password</th>
      <th scope="col">Type</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  
    {% for post in pws %}
    <tbody>
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ post.date }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.password }}</td>
        <td>{{ post.type }}</td>
        
        <td>
          <a class="btn btn-secondary" href="{% url 'edit' post.id %}">Edit</a>
          <a class="btn btn-danger" href="{% url 'delete' post.id %}">Delete</a>
        </td>
      </tr>
    </tbody>
    {% endfor %}
</table>
{% endif %}

{% endblock %}