{% extends 'home.html' %}

{% block content %}

{% if messages %}
  {% for message in messages %}
  <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
    <span class="font-medium">{{ message }}</span>
  </div>
  {% endfor %}
{% endif %}

<br>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <br>
    <h1 class="display-7">Check All Passwords!</h1>
  </div>
</div>
<br>
{% if no_pws %}
<div class="jumbotron">
  <h1 class="display-4">No password created yet</h1>
  <hr class="my-4">
  <p class="lead">{{ no_pws }}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'add-page' %}" role="button">Click Here</a>
  </p>
</div>
{% else %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                #
              </th>
              <th scope="col" class="px-6 py-3">
                Title
              </th>
              <th scope="col" class="px-6 py-3">
                Password
              </th>
              <th scope="col" class="px-6 py-3">
                Type
              </th>
              <th scope="col" class="px-6 py-3">
                Date
              </th>
              <th scope="col" class="px-6 py-3">
                  <span class="sr-only">Edit</span>
              </th>
          </tr>
      </thead>
      <tbody>
        {% for post in pws %}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{ forloop.counter }}
              </th>
              <td class="px-6 py-4">
                {{ post.title }}
              </td>
              <td class="px-6 py-4">
                {{ post.password }}
              </td>
              <td class="px-6 py-4">
                {{ post.type }}
              </td>
              <td class="px-6 py-4">
                {{ post.date }}
              </td>
              <td class="px-6 py-4 text-right">
                  <a href="{% url 'edit' post.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              </td>
              <td class="px-6 py-4 text-right">
                <a href="{% url 'delete' post.id %}" class="font-medium text-red-600 dark:text-red-500 hover:underline">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

{% endif %}

{% endblock %}