{% extends 'base.html' %}

{% block content %}
{% load bootstrap %}
{% if messages %}
<div class="alert alert-primary" role="alert" >
  {% for message in messages %}
     {{ message }}
    {% endfor %}
</div>
{% endif %}
<br>
<h1>Edit</h1>
<br>
<div class="form-control">
<form method='POST'>
      {% csrf_token %}
        {% for field in form %}
        <br>
        <br>
        {{ field }}
        {% endfor %}
  
  <br>
  <br>
        <button class="btn btn-primary" type='submit'>Update</button>
</form>
</div>
{% endblock %}