{% extends 'base.html' %}

{% block content %}

{% if messages %}
<div class="alert alert-primary" role="alert" >
  {% for message in messages %}
     {{ message }}
    {% endfor %}
</div>
{% endif %}

<br>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Add your passwords</h1>
  </div>
</div>
<br>
<div class="form-group">
<form method="POST" >
  {% csrf_token %}
  {{ form.as_p }}
<button type="submit" class="btn btn-primary" >Submit</button>
</form>
</div>

{% endblock %}
 