<!-- templates/index.html -->

{% extends "_base.html" %}
{% block content %}
<div class="mx-auto max-w-2xl">

<a href="#" class="mx-auto block max-w-sm p-6 text-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">WELCOME</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">SWORD is a Password Manager, that Store and Create Passwords.</p>
</a>


    <blockquote class="mt-6 text-xl italic font-semibold text-center text-gray-900 dark:text-white">
        <p>"SWORD is just awesome. It is developed with newest and famous Technologies."</p>
    </blockquote>
    <h1 class="mt-6 text-3xl text-green-800 text-center">Django + Tailwind CSS + Flowbite</h1>


</div>
{% endblock content %}