{% extends '_base.html' %}

{% block content %}
<!---->
{% if messages %}
<div class="alert alert-primary" role="alert" >
  {% for message in messages %}
     {{ message }}
    {% endfor %}
</div>
{% endif %}
<br>
<h1>Register</h1>
<br>

<div class="mx-auto max-w-lg">
<form method="POST">
  {% csrf_token %} 
  <fieldset class="block mb-6 text-sm font-medium text-gray-900 dark:text-white">
    {{ form.as_p }}
  </fieldset>

    
  <div class="flex items-start mb-6">
  <div class="flex items-center h-5">
    <input id="checkchecked" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required>
  </div>
    <label for="checkchecked" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Approve conditions</label>
  </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Sign Up</button>
</div>
{% endblock %}